<%= form.label :site, 'HughesNet Site ID' %><br />
<%= form.text_field :site %><br />
<span style="font-size:small; font-style:italic"><%= {HELP_TOPICS[topic] %></span></br>
<br />
<%= form.label :email %><br />
<%= form.text_field :email %><br />
<br />
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
<br/>