<h1>Register</h1>

<p>To use the Husage utility you must register. Just enter your HughesNet site ID, a valid email address, and choose a password.</p> 

<p>We need your email address to send you a message if your usage exceeds certain levels. <strong>We respect your privacy and will never share your email address or send unsolicited emails.</strong></p>

<p>Note, this site is NOT AFFILIATED WITH HughesNet. Your registration here is not affiliated with other HughesNet accounts you might have. Please choose a unique password.</p> 
 
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages :header_message => 'Please try again!' %>
	<%= f.label :site, 'HughesNet Site ID' %> <%= f.error_message_on :site %>
	<%= form_help :site_ID %>	<br />
	<%= f.text_field :site %><br/>
  <span style="font-size:x-small; font-style:italic"><%= ApplicationHelper::HELP_TOPICS[:site_ID] %></span></br>
	<br />
	<br />
	<%= f.label :email %> <%= f.error_message_on :email %>
	<%= form_help :email %>
	<br />
	<%= f.text_field :email %>
	<br />
	<br />
	<%= f.label :password, "Choose a password" %> <%= f.error_message_on :password %>
	<%= form_help :password %>
	<br />
	<%= f.password_field :password %>
	<br />
	<br />
	<%= f.label :password_confirmation, "Re-type password" %> <%= f.error_message_on :warning_threshold %>
	<br />
	<%= f.password_field :password_confirmation %>
	<br />
	<br/>
	<%= f.label :time_zone %>
	<%= form_help :time_zone %>
	<br/>
	<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
	<br />
	<br />
	<%= f.label :hn_plan, "Your HughesNet Plan (FAP)" %> <span style="font-size:80%; font-style:italic">optional</span>
	<%= form_help :hn_plan %>
	<br />
	<%= f.select :hn_plan, @hn_plan_choices %>
	<br />
	<br/>	
	<%= f.submit "Register" %>
<% end %>