<%# debugger %>
<% css = case
		when usage.in_free_period? : 'freetime' 
		when usage.fap == 'Yes' : 'fapped'
		when usage.download_24hr >= current_user.alert_threshold : 'level-alert'
		when usage.download_24hr >= current_user.warning_threshold : 'level-warning'
		else '' 
		end
	%>
<tr>
	<td class="align-center <%= css %>"><%= usage.period_from.strftime "%m/%d/%Y" %></td>	
	<td class="align-center <%= css %>"><b><%= usage.period_from.strftime "%H:00" %></b></td>
	<td class="align-center <%= css %>"><%= usage.period_from.strftime "%H:59" %></td> 
	<td class="align-right <%= css %>"><%= usage.min_used %>&nbsp;&nbsp;&nbsp;&nbsp;</td>	
	<td class="align-right <%= css %>"><b><%= usage.download %></b>&nbsp;&nbsp;&nbsp;&nbsp;</td>	
	<td class="align-center <%= css %>"><%= usage.fap %></td>
	<td class="align-right <%= css %>"><%= usage.upload %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td class="align-right <%= css %>"><b><%= usage.download_24hr %></b>&nbsp;&nbsp;&nbsp;&nbsp;</td>	
	<!-- <td class="align-right <%= css %>">&nbsp;&nbsp;&nbsp;&nbsp;</td>	 -->
</tr>							
<% if usage.period_from.hour-1 == @usages.first.period_from.hour  %>
	<tr><td colspan="8" style="background-color: #888888"></td></tr>
<% end %>
