<div id="husage" class="mainText">
	<!-- <img width"182" height="61" src="http://customercare.myhughesnet.com/images/hnet-logo.gif"/> -->
	<div style="float:right; padding:1em">
		<%= button_with_disable_to "Re-calculate", refresh_path, :title => 'Load the latest act_usage report from HughesNet and re-calculate the totals', :disabled => is_admin? %>
		<p style="font-style:italic; font-size:80%">Last re-calc: <%= @report_user.last_run_at.strftime "%m/%d/%Y %H:%M:%S" %></p>
	</div>
		
	<p>Adapted from HughesNet <%= Usage.hughes_report_name current_site %> report. Most recent items are on top. Downloads and 24 hour download totals are bold. Usage above thresholds are color coded. You can <%= link_to "change your preferences", preferences_path %>.</p>
	
	<div style="height: 23px; width: 100%; background-color:#10238C; clear:both">
		<img style="float:right" width="4" height="4" src="http://customercare.myhughesnet.com/images/mainnav_top_right_corner.gif"> 
		<img width="4" height="4" src="http://customercare.myhughesnet.com/images/mainnav_top_left_corner.gif">
	</div>
	<div style="border: 1px solid #666; padding: 1em">
		<div style="background-color:#4668E0">
			<img style="float:right" width="9" height="18" src="http://customercare.myhughesnet.com/images/pod_4668E0_right.gif"> 
			<img width="9" height="18" src="http://customercare.myhughesnet.com/images/pod_4668E0_left.gif">
		</div>
		<div style="border: 1px solid #666; padding: 1em">
			<div class="legend">
				<span>Legend:</span>
				<div class="level-alert">24hr download > <strong><%= @report_user.alert_threshold %></strong>MB</div>
				<div class="level-warning">24hr download > <strong><%= @report_user.warning_threshold %></strong>MB</div>
				<div class="freetime">Free bandwidth</div>
			</div>			
			<p style="text-align:center; font-weight:bold">
				Results for Site ID: &nbsp;&nbsp;<%= current_site.upcase %>
			</p>
			<p>
				Note:  Usage statistics will only be shown for a Site ID if usage for a given hour is greater than 500KB, the site is subject to the Fair Access Policy or the reported time is during free access periods.
			</p>
			<p style="font-style:italic">Times in <%= @report_user.time_zone %></p>
		
			<table style="clear:both">
				<thead>
					<tr>
						<th>Date&nbsp;&nbsp;</th>
						<th>Time From</th>
						<th>Time To</th>
						<th>Min Used</th>
						<th>Download In MB</th>
						<th>Subject To FAP*</td>
						<th>Upload In MB</th>
						<th>24 Hour MB Download</th>
						<!-- <th>24 Hour Upload</th> -->
					</tr>
				</thead>
				<tbody>
					<%= render :partial => 'usage', :collection => @usages %>
				</tbody>
			</table>
			<p class="align-center">* FAP &ndash; Fair Access Policy</p>
			<p class="align-center">This information is provided only for your reference. Your actual invoice may vary according to your billing plan.</p>	
			<p class="align-center">**Currently, data downloaded between 2:00&nbsp;AM and 7:00&nbsp;AM Eastern Time will not apply towards your service plan's download threshold. <br />
		    Please see the <a href="http://customercare.myhughesnet.com/fap_faqs.htm" target="_blank">FAQs</a> for additional information.
			</p>
		</div>
		
	</div>	
</div>
