<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Husage: Satellite Internet Usage Utility</title>
	<meta name="Description" content="The Husage utility for HughesNet users provides reports of your download usage over 24 hour periods, 
	and sends you an email alert if your usage level exceeds a threshold." />
	<meta name="Keywords" content="husage, HughesNet, myhughesnet, downloads, Site ID, frm_usage, act_usage, satellite internet, usage, FAP, Fair Access Policy" />

	<%#= stylesheet_link_tag "http://customercare.myhughesnet.com/style/style.css" %>
	<%= stylesheet_link_tag 'hughesnet' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
	<div class="wrapper">
	<%= render :partial => 'layouts/banner' %>
	<%= render :partial => 'layouts/menu' unless current_site.nil? %>
	<%= content_tag( :p, flash[:notice], :id => 'flash_notice') unless flash[:notice].blank? %>
	<%= yield %>
	<%= render :partial => 'layouts/footer' %>
	</div>
</body>
</html>
